.title {
    color: purple;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 40%;
}

.page {
    text-align: center;
}

.info {
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border-radius: 10%;
}